---
import Layout from "../layouts/Layout.astro";
import "animate.css";
import "../css/styles.css";
import Home from "../sections/home.astro";
import Skill from "../sections/skill.astro";
import Project from "../sections/project.astro";
import Archivement from "../sections/archivement.astro";
import Experiences from "../sections/experiences.astro";
import About from "../sections/about.astro";
---

<Layout title="Christian Chico">
  <main>
    <div
      id="particles-js"
      class="fixed w-screen h-screen hover:pointer-events-auto opacity-70 bg-transparent"
    >
    </div>

    <script src="/scripts/particles.min.js" is:inline></script>

    <script>
      document.addEventListener("DOMContentLoaded", async (event) => {
        const response = await fetch("/particlesjs-config.json");
        const particlesConfig = await response.json();
        particlesJS("particles-js", particlesConfig);
      });
    </script>

    <Home/>

    <About />

    <Skill />

    <Experiences />

    <Project />

    <Archivement />

    <section id="contact">
      <div class=""></div>
    </section>
  </main>
</Layout>
