---
import Layout from '../layouts/Layout.astro';
import 'animate.css';
import Home from '../sections/Home.astro';
import About from '../sections/About.astro';
import Educations from '../sections/Educations.astro';
import Skills from '../sections/Skills.astro';
import Experiences from '../sections/Experiences.astro';
import Projects from '../sections/Projects.astro';
import Achivements from '../sections/Achivements.astro';
---

<Layout title="Christian Chico | Full Stack Developer">
  <main>
    <div
      id="particles-js"
      class="fixed w-screen h-screen hover:pointer-events-auto opacity-70 bg-transparent"
    >
    </div>

    <script src="/scripts/particles.min.js" is:inline></script>

    <script>
      document.addEventListener('DOMContentLoaded', async (event) => {
        const response = await fetch('/particlesjs-config.json');
        const particlesConfig = await response.json();
        particlesJS('particles-js', particlesConfig);
      });
    </script>

    <Home />

    <About />

    <Educations />

    <Skills />

    <Experiences />

    <Projects />

    <Achivements />
  </main>
</Layout>
