<header class="py-2 bg-black" x-data="{expanded: false}">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <div class="shrink-0">
        <a href="#" title="" class="flex">
          <img
            class="w-auto h-9"
            src="https://careeraway.com/wp-content/uploads/2021/10/ca_logo_01.ico"
            alt=""
          />
        </a>
      </div>

      <nav
        class="hidden space-x-10 md:flex md:items-center md:justify-center lg:space-x-12"
      >
        <a
          href="#"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          Home
        </a>

        <a
          href="#about"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          About Me
        </a>

        <a
          href="#experience"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          Experience
        </a>

        <a
          href="#achievements"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          Achievements
        </a>

        <a
          href="#projects"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          Project
        </a>

        <a
          href="#contact"
          title=""
          class="text-base font-normal text-[#F8F9FA] transition-all duration-200 hover:text-[#3a8f49]"
        >
          Contacts
        </a>
      </nav>

      <div
        class="relative hidden md:justify-center md:items-center md:inline-flex group"
      >
        <div
          class="absolute transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-[#3a8f49] via-[#16321b] to-[#309442] group-hover:shadow-lg group-hover:shadow-green-500/50"
        >
        </div>
        <a
          href="https://drive.google.com/file/d/1V1XbjtfkcTxq0jyQxQUW549pJCxo8RD4/view?usp=sharing"
          title=""
          class="relative inline-flex items-center justify-center px-6 py-2 text-base font-normal text-[#3a8f49] bg-black border border-transparent rounded-full"
          role="button"
        >
          CV
        </a>
      </div>
    </div>
  </div>
</header>
