#home .social-links {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

#home .social-links svg {
  filter: drop-shadow(2px 4px 20px #006ddd);
  animation: move 2.5s infinite ease-in-out;
  transition: all 200ms ease-in-out;
}

#home .social-links a svg:hover {
  filter: drop-shadow(4px 8px 20px #ffffff);
  cursor: pointer;
}

#home .social-links a:nth-child(2) svg {
  animation-delay: 200ms;
}

#home .social-links a:nth-child(3) svg {
  animation-delay: 400ms;
}

#home .content .text svg {
  width: 4rem;
  height: 4rem;
}

h1 {
  -webkit-text-stroke: 1px #ffffffe8;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pulsate-border {
  position: relative;
  animation: pulsate-border 1.5s ease-in-out infinite;
}

@keyframes pulsate-border {
  0% {
    box-shadow: 0 0 10px var(--border-glow-color);
  }
  50% {
    box-shadow: 0 0 20px var(--border-glow-color-stronger);
  }
  100% {
    box-shadow: 0 0 10px var(--border-glow-color);
  }
}